{% load staticfiles %}
<html>
    <head>
        <title>Any Title You Want</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/"> JAZZYS WORLD</a></h1>
        </div>
        <div><img src="https://i.pinimg.com/236x/51/15/ee/5115ee28e8d97358558080559723e5f5--anime-art-hot-pink.jpg"></div>
        <div class="content container"><div><img src=></div>
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <div class="date">
                                <p>published: {{ post.published_date }}</p>
                            </div>
                            <h1><a href="">{{ post.title }}</a></h1>
                            <p>{{ post.text|linebreaksbr }}</p>
                            <a href="{{ post.link }}">Click here to watch a video.</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
